.internal-logo{
	max-width: 50px !important;
}
.right_profile_img{
	max-width: 40% !important;
}
* {
    box-sizing: border-box;
}

.zoom {
    padding: 5px;
    transition: transform .2s;
    width: 200px;
    margin: 0 auto;
}

.zoom:hover {
    -ms-transform: scale(2); /* IE 9 */
    -webkit-transform: scale(2); /* Safari 3-8 */
    transform: scale(2); 
}
